---
---
@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


#container * {
    color: black;
    font-family: 'Libre Baskerville', serif;
}

#container i {
    font-style: italic;
}

#container b {
    font-weight: bold;
}

#container header, #container h1 {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #c0c0ff;
    text-align: center;
    margin-bottom: 0px;
}

#container hr.rule {
    margin-bottom: 0px;
    padding-bottom: 2px;
    color: #c0c0ff;
}

a {
    color: blue !important;
}

code.language-fasta {
    background-color: #d0ffe0;
    color: #000000;
}

a:visited {
    color: purple !important;
}

a:hover {
    text-decoration: underline;
}

a.navigation.current {
    color: black;
}

a.navigation {
    font-family: sans-serif;
    width: 100%;
}

a.navigation:visited {
    color: blue !important;
}

nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    margin-bottom: 20px;
    margin-top: 0px;
}


#container pre {
    background-color: #d0ffe0;
}

nav > * {
    flex: 1;
    width: auto;
    border: solid 1px;
    text-align: center;
    background-color: #e0e0ff;
}

#tags {
    font-style: italic;
}

#tags a, #tags a *, #taglist a, #taglist a * {
    color: blue !important;
}

#tags * {
    font-size: 12px;
}

#tags .tags .tag ::after {
    content: ", ";
}
#tags .tags .tag:last-child ::after {
    content: "";
}

#tags .label {
    font-weight: bold;
    font-style: normal;
}

.items blockquote {
    font-size: 0.9em;
}

.items .item {
    border: solid 0.5px goldenrod;
    margin: 3px;
    padding: 5px;
    display: block;
}

.items .item .date::before {
    content: "(";
    font-size: 0.75em;
}

.items .item .date {
    font-size: 0.75em;
}

.items .item .date::after {
    content: ")";
    font-size: 0.75em;
}

#postlist .listhead, #pagelist .listhead {
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: solid 1px;
    padding-top: 1em;
}

#main_content blockquote {
    font-size: 0.9em;
    padding: 1em;
    background-color: rgba(255, 222, 128, 0.2);
    border: solid 0.75px rgba(222, 128, 96, .2);
}

#container footer {
    font-size: 0.8em;
    margin: 0px;
    padding: 1em;
    background-color: rgb(208, 208, 208) !important;
    color: rgb(92, 92, 92);
}

#container footer a {
    color: rgb(92, 92, 192) !important;
}

#container footer a:visited {
    color: rgb(128, 64, 128) !important;
}

#container dd {
    margin-left: 3em;
}
