---
layout: default
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
    <span id="tags">
        <span class="label">Tags: </span>
        <span class="tags">
        {% for tag in page.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"j class="tag"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
        {% endfor %}
        </span>
    </span>
{% endif %}


