---
layout: default
---
<div class="post">
<h1>Tag: {{ page.tag }}</h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}">POST: {{ post.title }}</a> ({{ post.date | date_to_string }})
    <blockquote>
      {{ post.description | default: post.excerpt }}
    </blockquote>
  </li>
{% endfor %}
{% for tpage in site.pages %}
  {% if tpage.url contains "/pages/" %}
    {% if tpage.tags contains page.tag %}
      <li><a href="{{ tpage.url }}">PAGE: {{ tpage.title }}</a> ({{ tpage.date | default: tpage.last_modified_at | date_to_string }})
        <blockquote>
          {{ tpage.description | default: tpage.excerpt }}
        </blockquote>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
</div>
<hr>